* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#toCreate {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#toCreate:hover {
    background-color: #45a049;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 600px;
    margin-top: 40px;
}

.button {
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 48%;
    font-size: 16px;
}

#name {
    background-color: #fff;
}

#name:focus {
    outline: none;
    border-color: #4CAF50;
}

#create {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 48%;
}

#create:hover {
    background-color: #45a049;
}

.Tovarlar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}
#basket{
    background-color:black;
    width: 40px;
    margin: 10px;
    color: white;
}