*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.root{
    display: flex;
    flex-wrap: wrap;

}
.card{
    background-color: cyan;
    width: 25%;
}
.card img{
    max-width: 100%;
    border-radius: 20px;
}